<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#bar1" aria-controls="bar1" role="tab" data-toggle="tab">Bar Graph 1</a></li>
    <li role="presentation"><a href="#bar2" aria-controls="bar2" role="tab" data-toggle="tab">Bar Graph 2</a></li>
    <li role="presentation"><a href="#line1" aria-controls="line1" role="tab" data-toggle="tab">Line Graph 1</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="bar1">
        <canvas id="chart1" width="400" height="400"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="bar2">
        <canvas id="chart2" width="400" height="400"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="line1">
        <canvas id="chart3" width="400" height="400"></canvas>
    </div>
</div>