<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#line1" aria-controls="line1" role="tab" data-toggle="tab">Line Graph</a></li>
    <li role="presentation"><a href="#bar1" aria-controls="bar1" role="tab" data-toggle="tab">Bar Graph</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="line1">
        <canvas id="cursor" width="800" height="800"></canvas>
        <canvas id="chart2" width="800" height="800"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="bar1">
        <canvas id="chart1" width="800" height="800"></canvas>
    </div>
</div>